<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/header"></th:block>
	<script type="text/javascript" src="/js/manage/category.js"></script>
</head>
<body>
	<th:block th:replace="fragments/nav"></th:block>
	<main>
		<h3>Add Category</h3>
		<form id="category_form">
			<input type="text" name="name" placeholder="name" />
			<button onclick="registCategory()">Add</button>
		</form>
		
		<br/>
		<br/>
		<br/>
		<br/>
		
		<h3>Category List</h3>
		<table>
			<tr th:each="category : ${category_list}">
				<td th:text="${category.name}">Category Name</td>
				<td>
					<button th:onclick="'deleteCategory(' + ${category.category_id} + ')'">Delete</button>
				</td>
			</tr>
		</table>
	</main>
</body>
</html>