<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/header"></th:block>
</head>
<body>
	<th:block th:replace="fragments/nav"></th:block>
	<main>
		<h3>Add Item</h3>
		<select>
			<option th:each="num : ${#numbers.sequence(1, 5)}">Food</option>
		</select>
		<input type="text" placeholder="name" />
		<button>Add</button>
		
		<br/>
		<br/>
		<br/>
		<br/>
		
		<h3>Delete Item</h3>
		<table>
			<tr th:each="num : ${#numbers.sequence(1, 5)}">
				<td>Food</td>
				<td>떡볶이</td>
				<td>
					<button>Delete</button>
				</td>
			</tr>
		</table>
	</main>>
</body>
</html>