<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/header"></th:block>
</head>
<body>
	<th:block th:replace="fragments/nav"></th:block>
	<main>
		<h3>Orders</h3>
		<table>
			<tr>
				<td>Item</td>
				<td>Name</td>
				<td>Email</td>
				<td>Mobile</td>
				<td></td>
			</tr>
			<tr>
				<td>떡볶이</td>
				<td>최시민</td>
				<td>chltlals961009@gmail.com</td>
				<td>010-3396-3093</td>
				<td>
					<button>Delete</button>
				</td>
			</tr>
		</table>
	</main>
</body>
</html>