<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/header"></th:block>
	<script type="text/javascript" src="/js/manage/restock.js"></script>
</head>
<body>
	<th:block th:replace="fragments/nav"></th:block>
	<main>
		<h3>Request Restock</h3>
		<form id="restock_form">
			<select name="company_name">
				<option value="amadon">amadon</option>
				<option value="coumang">coumang</option>
			</select>
			<select name="item_id">
				<option th:each="item : ${item_list}" th:text="${item.name}" th:value="${item.id}">Item Name</option>
			</select>
			<input type="number" value="1" min="1" name="amount" />
			<button onclick="registRestock()">Add</button>
		</form>
		
		<br/>
		<br/>
		<br/>
		<br/>
		
		<h3>Restock List</h3>
		<table>
			<tr th:each="restock : ${restock_list}">
				<td th:text="${restock.company_name}">Company Name</td>
				<td th:text="${restock.encrypt_item_name}">Encrypt Item Name</td>
				<td th:text="${restock.amount}">Amount</td>
				<td>
					<button th:onclick="'deleteRestock(' + ${restock.id} + ')'">Delete</button>
				</td>
			</tr>
		</table>
	</main>
</body>
</html>