<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/header"></th:block>
</head>
<body>
	<th:block th:replace="fragments/nav"></th:block>
	<main>
		<h3>Request Restock</h3>
		<select>
			<option>Amadon</option>
			<option>Coumang</option>
		</select>
		<select>
			<option>Food</option>
			<option>Food</option>
			<option>Food</option>
			<option>Food</option>
			<option>Food</option>
			<option>Food</option>
		</select>
		<select>
			<option>Food</option>
			<option>Food</option>
			<option>Food</option>
			<option>Food</option>
			<option>Food</option>
			<option>Food</option>
		</select>
		<input type="number" value="0" min="0" />
		
		<br/>
		<br/>
		<br/>
		<br/>
		
		<h3>Restocks</h3>
		<table>
			<tr>
				<td>Amadon</td>
				<td>encrypt name</td>
				<td>amount</td>
			</tr>
		</table>
	</main>
</body>
</html>